{% extends 'user_navbar.html' %}
{% block content %}

<script>
    function checkpassword(){
    if(document.changepassword.new.value!=document.changepassword.confirm.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirm.focus();
    return false;
    }
    return true;
    }


</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}

<div class="container mt-2">
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Change Password</h5>
        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="old" class="form-control"
                                   placeholder="Enter current password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="new" class="form-control"
                                   placeholder="Enter new password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="confirm" class="form-control"
                                   placeholder="Enter confirm password">
                        </div>
                    </div>
                </div>

                <input type="Submit" value="Submit" class=" m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}