{% extends 'user_navbar.html' %}
{% block content %}

<div class="container mt-5">
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Room Booking Details</h5>
        <div class="container-fluid mt-5">
            <table class="table table-bordered table-sm" id="example">
                <thead>
                <tr>
                    <th>S No.</th>
                    <th>Reg No.</th>
                    <th>Full Name</th>
                    <th>Email ID</th>
                    <th>Room No.</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in roomdata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.userreg.regNo}}</td>
                    <td>{{i.userreg.users.first_name}} {{i.userreg.users.last_name}}</td>
                    <td>{{i.userreg.users.username}}</td>
                    <td>{{i.rooms.room_no}}</td>
                    <td><a href="{% url 'view_RoomDtls' i.id %}" class="text-primary">View</a> |
                        <a href="{% url 'delete_RoomDtls' i.id %}" class="text-danger" onclick="return confirm('Are You Sure?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}
