{% extends 'admin_base.html' %}
{% block main  %}

<script>
    function checkpass()
    {
      if(document.signup.password.value!=document.signup.cpwd.value){
        alert('Password and Confirm Password field does not match');
        document.signup.cpwd.focus();
        return false;
      }
      return true;
    }
</script>

<div class="card shadow mt-2">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Student Registration </h5>
        <div class="container-fluid">
            <form method="POST" name="signup" enctype="multipart/form-data" onsubmit="return checkpass();">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-sm-12">
                        <label class="col-sm-4 mt-2"><p style="color: blue" align="left">Room Related information :</p>
                        </label>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Room No.</label>
                            <select class="form-control" name="rooms" required>
                                <option value="">Select Room</option>
                                {% for i in rooms %}
                                <option value="{{i.id}}">Room No. {{i.room_no}} [Type: {{i.get_type_display}}]</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Reserve on</label>
                            <input type="date" name="stayfrom" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Duration</label>
                            <Select name="duration" class="form-control" required>
                                <option value="">Select Duration in Minutes</option>
                                <option value="10">10 Minutes</option>
                                <option value="20">20 Minutes</option>
                                <option value="30">30 Minutes</option>
                                <option value="40">40 Minutes</option>
                                <option value="50">50 Minutes</option>
                                <option value="60">60 Minutes</option>
                            </Select>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <label class="col-sm-4 mt-2"><p style="color: red" align="left">Student information :</p>
                        </label>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Registration No :</label>
                            <input type="text" name="regNo" value="{{regno}}" class="form-control" readonly>
                        </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>First Name :</label>
                            <input type="text" name="firstName" class="form-control" required>
                        </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Last Name :</label>
                            <input type="text" name="lastName" class="form-control" required>
                        </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Gender </label>
                            <select name="gender" class="form-control" required="required">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Contact No.</label>
                            <input type="text" name="contactNo" class="form-control" required>
                        </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email id</label>
                            <input type="text" name="email" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="cpwd" id="cpwd"
                               placeholder="Enter Again Password" required>
                    </div>
                    </div>

                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Emergency Contact</label>
                            <input type="text" name="egycontactno" class="form-control" placeholder="Enter Contact Number"
                                   required>
                        </div>
                    </div>

                </div>
                <hr>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error ==  "no" %}
<script>
    alert('Student Registration Successfully');

</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}


<script type="text/javascript">
	$(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                $('#ppmntAddress').val( $('#pcorresAddress').val() );
                $('#ppmntCity').val( $('#pcorresCIty').val() );
            }
        });

         $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == false){
                $('#ppmntAddress').val(null);
                $('#ppmntCity').val(null);
            }
        });

    });
</script>


{% endblock %}
